@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
@import "nativewind/theme";

@layer theme {
  @theme {
    --font-mono: monospace;
    --font-rounded: normal;
    --font-sans: normal;
    --font-serif: serif;
  }
}

@media ios {
  :root {
    --font-mono: ui-monospace;
    --font-rounded: ui-rounded;
    --font-sans: system-ui;
    --font-serif: ui-serif;
  }
}

@media web {
  :root {
    --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --font-rounded: 'SF Pro Rounded', 'Hiragino Maru Gothic ProN', Meiryo, 'MS PGothic', sans-serif;
    --font-sans: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    --font-serif: Georgia, 'Times New Roman', serif;
  }
}
